src/
build/
!build/*.wasm
.github/

build/
node_modules/
vcpkg/
.github/
.git/
.gitignore
.cache/
.env
tsconfig.json
scripts/
result.json
compile_commands.json
*.log
bun.lock
bun.lockb
dist/browser/osu-parser.browser.js
